* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: auto;
}

#root {
  width: 100%;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
